.header {
    position: relative;

    .inner {
        display: flex;
        height: var(--header);
        align-items: center;

        .logo {
            margin-right: auto;
        }

    }

    .location {
        margin-right: auto;
    }

}