.section {
    padding: 10rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    .inner {
        position: relative;
        pointer-events: none;

        .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            &>* {
                pointer-events: all;
            }

            .title {
                font-size: 4.5rem;
                margin-bottom: 1.5rem;
            }

            .text {
                max-width: 70rem;
                color: var(--text-grey-color);
                font-size: var(--fz-large);
                margin-bottom: 2.5rem;
            }

        }

    }

}