.link {
    position: relative;

    &:after,
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
    }

    &:before {
        background: var(--bg-grey-dark);
    }

    &:after {
        background: var(--theme);
        transition: 0.3s;
        transform-origin: left;
        transform: scaleX(0);
    }

    &:hover {

        &:after {
            transform: scaleX(1);
        }

    }

}