.logo {
    color: var(--text-regular-color);
    line-height: 1;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: var(--fz-large);

    .icon {
        display: flex;
        color: var(--theme);
        font-size: 1.5em;
        margin-right: 0.6rem;
    }

    .text {
        text-transform: uppercase;
    }

}